<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - antykierowcy.pl</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo" href="/"><span class="title-logo"><span class="red">anty</span>kierowcy.pl</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Główna", "Index", "Home")</li>
                    <li>@Html.ActionLink("Top", "Top", "Home")</li>
                    <li>@Html.ActionLink("Poczekalnia", "WaitingItems", "Home")</li>
                    <li>@Html.ActionLink("Dodaj", "AddItem", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year - antykierowcy.pl</p>
            <div class="icons-license">
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
                from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
                is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                     CC 3.0 BY
                </a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
