@model Driver.WebSite.ViewModels.AddCommentViewModel

@using (Html.BeginForm("AddComment", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Dodaj komentarz</span>
        </div>
        <div class="panel-body form-horizontal">
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextArea("Text", Model.Text, new {@class = "form-control", placeholder = "Wpisz treść komentarza", rows=4})
                    @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
                </div>
            </div>

            @Html.HiddenFor(m => m.ItemId)

            <div class="form-group col-md-12">
                <div class="pull-left">
                    <input type="submit" value="Dodaj" class="btn btn-default"/>
                </div>
            </div>
        </div>
    </div>
}
