@model Driver.WebSite.ViewModels.ItemPanel.ItemPanelViewModel

<div class="item-panel panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <div id="rating-panel-@Model.Id" class="score-panel">
                <span data-bind="click: voteDown, css: { undo: isVotedDown() }, attr: { title: getTitleDown() }" 
                      class="vote glyphicon glyphicon-minus text-danger"></span>
                <span data-bind="text: rate, css: { 'text-success': isVotedUp(), 'text-danger': isVotedDown() }" 
                      class="score"></span>
                <span data-bind="click: voteUp, css: { undo: isVotedUp() }, attr: { title: getTitleUp() }" 
                      class="vote glyphicon glyphicon-plus text-success"></span>
            </div>
        </div>
        <h2 class="panel-title">
            @if (Model.GenerateLinksToItemPage)
            {
                @Html.ActionLink(Model.Title, "ItemPage", new {Model.Id})
            }
            else
            {
                @Model.Title
            }
        </h2>
        <span class="text-muted"><small>Dodał <strong>@Model.AuthorLogin</strong>, <span title="@Model.DateAdded">@Model.DateAddedString</span>.</small></span>
    </div>
    <div class="panel-body">
        <div class="player-container embed-responsive embed-responsive-16by9">
            <iframe id="ytplayer" class="player embed-responsive-item" type="text/html"
                    src="https://youtube.com/embed/@Model.ContentUrl?origin=http://example.com&enablejsapi=1"></iframe>
        </div>
        <div class="item-infos">
            <p>
                @if (Model.GenerateLinksToItemPage)
                {
                    @Html.ActionLink(Model.Description, "ItemPage", new {Model.Id})
                }
                else
                {
                    @Model.Description
                }
            </p>
            <table class="drivers table">
                @foreach (var driverOccurrence in @Model.DriverOccurrences)
                {
                    <tr id="driver-occurrence-@driverOccurrence.Id">
                        <td class="plate-col"><strong>@driverOccurrence.Plate</strong></td>
                        <td class="desc-col">@driverOccurrence.Description</td>
                        <td class="score-col">
                            <strong class="text-danger">
                                <span data-bind="text: downRate" title="Liczba punktów karnych" class="driver-score">
                                </span>
                            </strong>
                        </td>
                        <td class="vote-col">
                            <a data-bind="click: voteDown, css: { 'text-danger': isNoVote() }, attr: { title: getTitleDown() }" 
                               class="glyphicon glyphicon-plus ">
                            </a>
                        </td>
                    </tr>
                }
            </table>

            @if (Model.GenerateLinksToItemPage)
            {
                <div class="read-more pull-right">@Html.ActionLink("Czytaj komentarze", "ItemPage", new {Model.Id}, new {@class = "btn btn-default"})</div>
            }
        </div>
    </div>
</div>