@model Driver.WebSite.ViewModels.ItemsPageViewModel
@{
    ViewBag.Title = @Model.Title;
}

@section scripts {
    <script src="~/Scripts/RatingViewModel.js"></script>
    <script>
        @foreach (var item in Model.Items)
        {
            <text>ko.applyBindings(new ItemsVotingViewModel(@item.Id, @item.Rate, @item.UserVoting), $('#rating-panel-@item.Id')[0]);</text>

            foreach (var driverOccurrence in @item.DriverOccurrences)
            {
                <text>ko.applyBindings(
                    new DriverOccurrenceVotingViewModel(@driverOccurrence.Id, @driverOccurrence.Rate, @driverOccurrence.UserVote),
                    $('#driver-occurrence-@driverOccurrence.Id')[0]);
                </text>
            }
        }
    </script>
}

<div class="container">
    @if (Model.DisplayAddedInfo)
    {
        <div class="added-info alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>
                <strong>Dziękujemy!</strong> Twój wpis został dodany.
            </p>
        </div>
    }

    <div class="items-container col-md-8">

        @if (@Model.DriverInfoPanel != null)
        {
            @Html.Partial("_DriverInfoPanel", @Model.DriverInfoPanel)
        }

        @foreach (var item in Model.Items)
        {
            @Html.Partial("_ItemPanel", item)
        }
        @Html.Partial("_Pagination", Model.Pagination)
    </div>
    <div class="col-md-4">
        @Html.Partial("_SidebarPanel", Model.Sidebar)
    </div>
</div>
