@using Driver.WebSite.ViewModels
@model ItemPageViewModel

@{
    ViewBag.Title = Model.ItemPanel.Title;
}

@section scripts {
    <script src="~/Scripts/RatingViewModel.js"></script>
    <script>
        ko.applyBindings(
            new ItemsVotingViewModel(@Model.ItemPanel.Id, @Model.ItemPanel.Rate, @Model.ItemPanel.UserVoting),
            $('#rating-panel-@Model.ItemPanel.Id')[0]);
        @foreach (var comment in Model.Comments)
        {
            <text>ko.applyBindings(new CommentsVotingViewModel(@comment.Id, @comment.VotesCount, @comment.UserVote), $('#comment-rating-panel-@comment.Id')[0]);</text>
        }
        @foreach (var driverOccurrence in Model.ItemPanel.DriverOccurrences)
        {
            <text>ko.applyBindings(
                new DriverOccurrenceVotingViewModel(@driverOccurrence.Id, @driverOccurrence.Rate, @driverOccurrence.UserVote),
                $('#driver-occurrence-@driverOccurrence.Id')[0]);
            </text>
        }
    </script>
}

@if (Model.CommentAddingError)
{
    <div class="comment-adding-error alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>
            <strong>Błąd!</strong> Nie udało się dodać komentarza, spróbuj ponownie.
        </p>
    </div>
}

<div class="items-container col-md-8">
    @Html.Partial("_ItemPanel", Model.ItemPanel)
    @Html.Partial("_Comments", Model.Comments)
    @Html.Partial("_AddComment", new AddCommentViewModel { ItemId = Model.ItemPanel.Id })
</div>
<div class="col-md-4">
    @Html.Partial("_SidebarPanel", Model.Sidebar)
</div>

